.station-table {
  border: solid 1px;
  margin: 10px;
  width: 50%;
  flex:1;
}
.table-row {
  display:flex;
}
.table-row:nth-child(even) {
  background-color: aliceblue;
}
.table-cell {
  flex:1;
  margin: 5px;
}
